table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

button.boardButton {
    width: 70px;
    height: 70px;
    
    font-size: 60px;
}

div.boardContainer {
    display: flex;
    flex-direction: column;
    width: min-content;
    padding: 5px;
    border: solid 1px black;
    background-color: rgb(182, 182, 182);
}

div.boardHeader {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.newGameButton {
    width: 55px;
    height: 36px;
}

input.numberInput {
    width: 40px;
    height: 30px;
}

div.outputInfo {
    width: 100%;
    height: 34px;
    border: solid 1px gray;
    background-color: white;
    
}